a.hover-menu:hover{
  background-color: #007C9B;
  color: aliceblue;
  border-radius: 8px;
}

.nav-item{
  padding: 5px;
}

.hover-menu{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  padding: 5px;
  margin: 2px;
  position: relative;
  overflow: hidden;
  transition: color 1s;
}

.hover-menu::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: aquamarine;
  transform: skewX(35deg);
  z-index: -1;
  transition: width 1sg;
}



.color-navbar{
  background-color: #007C9B;
  color: aliceblue;
}
.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}
/* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
@media only screen and (max-width : 900px) {
  .ocultar-cel{
  display: none;
  }

  .small-cel-text{
    font-size: 100%;
  }
}

