<mat-toolbar class="color-navbar">
  <button class="m-2 color-navbar" (click)="drawer.toggle()" mat-mini-fab aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="small-cel-text">Gestion Documental.</span>
  <span class="example-spacer"></span>
  <span class="text-right ocultar-cel">Exit</span>
  <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="router-link-active">
        <a [routerLink]="['/inicio']">Inicio</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/register']">Registrar Usuario</a>
      </li>
    </ul>
  </mat-drawer>
</mat-drawer-container>

