<div class="container">
  <div class="row text-center login-page">
    <div class="col-md-12 login-form">
      <p class="login-form-font-header">Registrar <span>Usuario</span></p>
      <p></p>
      <form class="example-form" [formGroup]="formregister" autocomplete="off" (ngSubmit)="registeruser()">
        <div class="row">
          <div class="col-md-12 login-from-row">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" name="email" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com" />
              <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
              <mat-error *ngIf="
                  this.formregister.get('email')?.hasError('email') &&
                  !this.formregister.get('email')?.hasError('required')
                ">
                Porfavor ingresa un Email valido
              </mat-error>
              <mat-error *ngIf="this.formregister.get('email')?.hasError('required')">
                Email es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 login-from-row">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nombres y Apellidos</mat-label>
              <input type="text" matInput formControlName="usuario" name="usuario" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com" />
              <mat-error *ngIf="!this.formregister.get('usuario')?.hasError('required')">
                Nombres y Apellidos son <strong>requeridos</strong>
              </mat-error>
              <mat-error *ngIf="this.formregister.get('usuario')?.hasError('required')">
                Nombres y Apellidos <strong>requeridos</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 login-from-row">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input type="password" matInput formControlName="contraseña" name="contraseña"
                [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com" />
              <mat-error *ngIf="
                  !this.formregister.get('contraseña')?.hasError('required')
                ">
                Porfavor ingresa una contraseña
              </mat-error>
              <mat-error *ngIf="
                  this.formregister.get('contraseña')?.hasError('required')
                ">
                Contraseña es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- <br> -->
        <div class="row">
          <div class="col-md-12 login-from-row">
            <div class="example-button-row">
              <button type="submit" [disabled]="this.formregister.invalid" class="btn btn-primary btn-register">
                Registrar
              </button>
            </div>
          </div>
        </div>
        <br />
      </form>
    </div>
  </div>
</div>
