<app-menu></app-menu>
<div class="container">
  <div class="row text-center login-page">
 <div class="col-md-12 login-form">
    <form [formGroup]="formregister" autocomplete="off" (ngSubmit)="registeruser()">
       <div class="row">
      <div class="col-md-12 login-form-header">
         <p class="login-form-font-header">Registrar <span>Usuario</span><p>
      </div>
  </div>
  <div class="row">
     <div class="col-md-12 login-from-row">
      <i class="fa fa-user m-1"></i>
          <input formControlName="nombre" name="nombre" type="text" placeholder="Nombre y apellidos" required/>
     </div>
  </div>
  <div class="row">
     <div class="col-md-12 login-from-row">
      <i class="fa fa-envelope m-1"></i>
          <input formControlName="usuario" name="usuario" type="text" placeholder="Usuario" required/>
     </div>
  </div>
  <div class="row">
     <div class="col-md-12 login-from-row">
          <i class="fa fa-key m-1"></i>
        <input formControlName="contraseña" name="password" type="password" placeholder="Contraseña" required/>
     </div>
  </div>
  <div class="row">
     <div class="col-md-12 login-from-row">
        <button type="submit" class="btn btn-primary">Registrar</button>
     </div>
  </div>
  </form>
</div>
</div>
</div>
