<div class="container">
    <div class="row text-center login-page">
      <div class="col-md-12 login-form">
  <form  autocomplete="off" [formGroup]="formedituser" (ngSubmit)="editarusuario()" >
    <div class="row">
      <div class="col-md-12 login-form-header">
        <p class="login-form-font-header">Editar<span>Usuario</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 login-from-row m-2">

        <input class="form-control" formControlName="usuario" name="usuario" type="text" placeholder="usuario" required />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 login-from-row m-2">

        <input class="form-control" formControlName="email" name="email" type="email" placeholder="email" required />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 login-from-row m-2">

        <input class="form-control" formControlName="contraseña" name="contraseña" type="password" placeholder="Contraseña" required />
      </div>
    </div>
    <br>
    <!-- <div class="row"> -->
      <!-- <div class="col-md-6 login-from-row " mat-dialog-actions> -->
        <span class="m-3">
          <button class="btn btn-danger" (click)="closeDialog()" mat-dialog-close>Close</button>
        </span>
        <span class="m-3">
          <button type="submit" class="btn btn-primary"> Guardar </button>
        </span>
      <!-- </div> -->
    <!-- </div> -->
  </form>
  </div>
  </div>
  </div>

